{% extends 'base/base.html' %}
{% block title %}{{game.name}}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{game.name}}</h1>
    <div class="row">
        <div class="col-xs-8 col-md-5">
            {% if game.logo %}
                <img src="{{game.logo}}" class="img-responsive">
            {% else %}
                <img src="../../static/base/images/placeholder-pacman-grey.jpg" class="img-responsive">
            {% endif %}

        </div>
        <div class="col-xs-8 col-md-5">
            <h3> Rating: {{ game.rating }}</h3>
            <h3>{{game.price}} &euro;</h3>
            <a href={% url 'community:game-play' game_id=game.id %}>
              <button id="playbtn" class="btn btn-success"><span class="glyphicon glyphicon-play"></span> Play now!</button>
            </a>
            <p>{{game.description}}</p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script>
  $(document).ready(function () {
    "use strict";
    window.addEventListener("message", function(evt) {
      if(evt.origin === "http://localhost:8000") {
        console.log(evt);
        $("#data-returned").append(evt.data);
      } else {
        alert("Intruder alert!");
      }
    });
  });
  </script>

{% endblock %}
