{% extends 'base/base.html' %}
{% block title %}{{game.name}}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{game.name}}</h1>
    <div class="row">
        <div class="col-xs-8 col-md-5">
           <iframe src="example_game.html"></iframe>
        </div>
        <div class="col-xs-8 col-md-5">
            <div>
                <h2>My highest Score: {{ user_high_score.score }}</h2> <!-- Pick user's score -->
                <h2>My last Score: {{ user_last_score.score }}</h2> <!-- Pick user's score -->
                <h3><a href="#">My score history</a></h3>
            </div>
            <h2>Leader Board</h2>
            <ol>
                {% for x in "xxx" %}
                <li>{{ leaders_scores.player }}: {{leaders_scores.score}}</li>
            </ol>
        </div>
    </div>
</div>

{% endblock %}