{% load staticfiles %}
{% load extra_template_tags %}

<div id="game-details-block" class="col-lg-2 col-md-3 col-sm-5 col-xs-8">

    {% if game.logo %}
        <img src={{ game.logo }} class="img-responsive" width="300" height="auto">
    {% else %}
        <img src="{% static 'base/images/placeholder-pacman-grey.jpg' %}" class="img-responsive"
             alt="img unavailable" width="300"
             height="auto"/>
    {% endif %}
    <div id="gamename"><h3>{{ game.name }}</h3></div>
    <h4> Rating: {{ game.rating }}</h4>
    <div>
        <!-- Details -->
        <a class="btn btn-primary btn-sm" href={% url 'community:game-info' game_id=game.id %}>Details</a>
        {% if not user|has_group:"developer" %}
            <a class="btn btn-success btn-sm playbtn" href={% url 'community:game-play' game_id=game.id %}>
            <span class="glyphicon glyphicon-play"></span> Play now!</a>
        {% endif %}
    </div>
</div>

