{% extends 'base/base.html' %}
{% block title %}{{game.name}}{% endblock %}
{% load staticfiles %}
{% block body %}
<div class="container">
    <h1>{{game.name}}</h1><br>
    <div class="row">
        <div class="col-xs-8 col-md-5">
            {% if game.logo %}
                <img src="{{game.logo}}" class="img-responsive">
            {% else %}
                <img src="{% static 'base/images/placeholder-pacman-grey.jpg' %}" class="img-responsive">
            {% endif %}

        </div>
        <div class="col-xs-8 col-md-5">

            {% if game.sales_price %}
              <h3 class="text-danger">Sale! <del>{{game.price}} &euro;</del> {{game.sales_price}}&euro;</h3>
            {% else %}
              <h3>{{game.price}} &euro;</h3>
            {% endif %}

            {% if game.action == 'play' %}
            <a href={% url 'community:game-play' game_id=game.id %} class="playbtn">
              <button class="btn btn-success"><span class="glyphicon glyphicon-play"></span> Play now!</button>
            </a>

            {% elif game.action == 'buy' %}
            <a href={% url 'webshop:purchase-game' game_id=game.id %} class="playbtn">
              <button class="btn btn-warning"><span class="glyphicon glyphicon-tag"></span> Buy now!</button>
            </a>

            {% else %}
            <a class="playbtn">
              <button class="btn btn-warning disabled"><span class="glyphicon glyphicon-tag"></span> Buy now!</button>
            </a>
            {% if game.action == 'develop' %}
            <a href={% url 'community:game-edit' game_id=game.id %} class="playbtn">
              <button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit </button>
            </a>
            {% endif %}
            {% endif %}
            <p id="description">{{game.description}}</p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script>
  $(document).ready(function () {
    "use strict";
    window.addEventListener("message", function(evt) {
      if(evt.origin === "http://localhost:8000") {
        console.log(evt);
        $("#data-returned").append(evt.data);
      } else {
        alert("Intruder alert!");
      }
    });
  });
  </script>

{% endblock %}
