{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block header %}
    <script type="text/javascript" src="{% static 'base/ajax-setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'community/game-service.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ game.name }}</h1>

            <div id="playGameIframe">
                <iframe id="gameframe" src={{ game.source_url }}></iframe>
            </div>
            {% include "community/score-leaderboard.html" %}

    </div>
{% endblock %}