{% extends 'base/base.html' %}
{% block title %}{{game.name}}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{game.name}}</h1>
    <div class="row">
        <div class="col-xs-8 col-md-5">
            <iframe src={{game.source_url}}></iframe>
        </div>
        <div class="col-xs-8 col-md-5">
            <div>
                <h2>My highest Score: {{ user_high_score.score }}</h2> <!-- Pick user's score -->
                <h2>My last Score: {{ user_last_score.score }}</h2> <!-- Pick user's score -->
                <h3><a href="#">My score history</a></h3>
            </div>
            <h2>Leader Board</h2>
            <!--<ol>-->
            <!--{% for x in "xxx" %}-->
            <!--<li>{{ leaders_scores.player }}: {{leaders_scores.score}}</li>-->
            <!--{% endfor %}-->
            <!--</ol>-->
        </div>
    </div>
</div>


<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).ready(function () {
        "use strict";
        window.addEventListener("message", function (evt) {

            var state = JSON.stringify(evt.data["gameState"])

            if (evt.data["messageType"] == "SCORE") {
                $.ajax({
                    method: "POST",
                    data: evt.data
                })
                    .done(function () {
                        console.log("Score Saved");
                    })
            }

            if (evt.data["messageType"] == "SAVE") {
                $.ajax({
                    method: "POST",
                    url: './save-state/',
                    data: state
                })
                    .done(function () {
                        console.log("State Saved");
                    })
            }
        });


    });


</script>


{% endblock %}