{% extends 'base/base.html' %}

{% block title %} My Inventory {% endblock %}

{% block body %}

<div class="container-fluid">
    <h1> My Inventory </h1>

    <a href={% url 'community:game-create' %}>
    <button id="create-new-bnt" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Create New Game
    </button>
    </a> <br><br>


    <div class="row">
        {% for game in games %}

        {% include 'community/game-details-block.html' %}

        {% endfor %}
    </div> <br>

    {% include "community/statistics-block.html" %}


</div>

{% endblock %}