{% load staticfiles %}

{% block header %}
<script type="text/javascript" src="{% static 'base/ajax-setup.js' %}"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" integrity="sha256-GcknncGKzlKm69d+sp+k3A2NyQE+jnu43aBl6rrDN2I="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'community/statistics.js' %}"></script>
{% endblock %}

<h2> Sales statistics:</h2>

<h4> Overall revenue: <span id="overallRevenue"></span></h4>
<h4> Games sold: <span id="gamesSold"></span></h4>

<div id="statisticsBlock" class="row">
    <div class='col-lg-8'>
        <canvas id='allGamesSoldMonth' ></canvas>
    </div>
    <div class='col-lg-8'>
        <canvas id='allRevenuePerGame' ></canvas>
    </div><br>
</div>
