{% extends 'community/base.html' %}

{% block body %}

    <div class="container-fluid">
        <h1>Welcome to HaZe!</h1>
        <h2>Top games:</h2><br>
        <div class="row">
             {% for x in range(4) %}

                <div class="col-sm-3">


                    <img src="../../static/community/images/pacman.png" class="img-responsive" width="300" height="auto">
                    <h3>Title</h3>
                    <h4>Description</h4>
                    <!-- Details -->
                    <a href="#" class="btn btn-primary btn-sm">View details</a>

                    <form action="#" style="display: inline">

                        <button class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </form>
                 </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}
