body {
    background: url("images/006-fine-plaster.png");
}

#rating {
    width: 200px;
}

#playbtn {
    margin: 10px;
}

/* TODO: figure out how to set width and height*/
#play-game-iframe {
    width: 400px;
    height: 400px;
}

