html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Play', sans-serif;
}

.container-fluid > h1 {
    font-weight: bold;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
  margin-top: -11px;
  margin-left: -6px;
  width: 70px;
  height: auto;
}
@media screen and (max-device-width: 760px) {
  #content {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
  }
}
#content {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
}

.btn-success {
    margin-bottom: 10px;
}

#description {
    margin-top: 20px;
}


#playGameIframe {
    visibility: hidden;
}

.panel-body {
    margin: 25px;
}

label {
    padding-bottom: 5px;
}


#game-details-block {
    margin-bottom: 20px;
    margin-top: 20px;
    min-width: 230px;
}

#gameframe {

}

#scoreLeaderboard {
    margin-left: 30px;
}

#leaderList {
    font-size: 20px;
}

.control-label, .controls {
    margin-right: 15px;
    margin-left: 15px;
}

#statisticsBlock {
    margin-top: 30px;
    min-width: 500px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.containerFooter {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.containerFooter .text-muted {
  margin: 20px 0;
}























