body {
    background: url("images/006-fine-plaster.png");
}

#rating {
    width: 200px;
}

#playbtn {
    margin: 10px;
}

/* TODO: figure out how to set width and height*/
#playGameIframe {
    visibility: hidden;
}

.panel-body {
    margin: 25px;
}

label {
    padding-bottom: 5px;
}