{% extends 'base/base.html' %}

{% block body %}

<div class="container-fluid">
    <h1>
        {% if user.is_authenticated %}
        Welcome, {{ user.username }}!
        {% else %}
        Welcome to HaZe!
        {% endif %}
    </h1>
    <h2>Top games:</h2><br>
    <div class="row">
        {% for game in top_games %}

        <div class="col-sm-3">

            {% if game.logo %}
            <img src={{ game.logo }} class="img-responsive" width="300" height="auto">
            {% else %}
            <img src="../../static/base/images/placeholder-pacman-grey.jpg" class="img-responsive" width="300"
                 height="auto">
            {% endif %}
            <h3>{{ game.name }}</h3>
            <div>
                <img id="rating" class="rating" src="../../static/base/images/rating/{{game.rating | floatformat:" 0"}}.png">
            </div>
            <!-- Details -->
            <a href={% url 'community:game-info' game_id=game.id %} class="btn btn-primary btn-sm">Details</a>

            <a href={% url 'community:game-play' game_id=game.id %}>
                <button id="playbtn" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-play"></span> Play now!
                </button>
            </a>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}
