{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    Purchase Game
{% endblock %}

{% block header %}
    <script type="text/javascript" src="{% static 'base/ajax-setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'webshop/pending-transaction.js' %}"></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 >Purchase "{{game.name}}"</h3>
                    {% if game.sales_price %}
                    <h3 class="text-danger">Sale! <del>{{game.price}} &euro;</del> {{game.sales_price}}&euro;</h3>
                    {% else %}
                    <h3>{{game.price}} &euro;</h3>
                    {% endif %}
                    <h4>Developer: {{game.developer.username}}</h4>
                    <br>
                    <form id="pending-transaction-form" class="form-horizontal" action="http://payments.webcourse.niksula.hut.fi/pay/"
                          method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="" style="display:none;">
                              {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success">Purchase</button>
                        <p id="ajax-error" class="text-danger" style="display:none;">
                          An error occured while processing your request.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
