{% extends 'base/base.html' %}
{% block title %} Purchase Game {% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Purchase "{{game.name}}"</h3>
                    <h4>Price: {{price}}</h4>
                    <h4>Developer: {{game.developer.username}}</h4>
                    <form id="pending-transaction-form" class="form-horizontal" action={{url}} method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group" style="display:none;">
                              {{ field }}
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Purchase</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  // $(document).ready(function() {
  //   $('#id_pid').val("{{pid}}")
  //   $('#id_sid').val("{{sid}}");
  //   $('#id_amount').val("{{amount}}");
  //   $('#id_success_url').val("{{success_url}}");
  //   $('#id_cancel_url').val("{{cancel_url}}");
  //   $('#id_error_url').val("{{error_url}}");
  //   $('#id_checksum').val("{{checksum}}");
  // });
  // $('#id_is_gift').click(function() {
  //   giftRecipientSelector = $('#gift-recipient-selector');
  //   if(this.checked) {
  //     giftRecipientSelector.show();
  //   } else {
  //     giftRecipientSelector.hide();
  //   }
  // });
  $("#pending-transaction-form").submit(function(e){
    e.preventDefault();
    var form = this;
    // if($('#id_is_gift').is(':checked')) {
    //   alert('Gift to ' + $('select[name=gift_recipient]').val())
    // }
    alert("Intercepted")
    form.submit();

  });
</script>

{% endblock %}
