{% extends 'base/base.html' %}
{% block title %} Purchase Game {% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Purchase "{{game.name}}"</h3>
                    <h4>Price: {{price}}</h4>
                    <h4>Developer: {{game.developer.username}}</h4>
                    <form id="pending-transaction-form" class="form-horizontal" action={{url}} method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group" style="display:none;">
                              {{ field }}
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Purchase</button>
                            </div>
                        </div>
                        <p id="ajax-error" class="text-danger" style="display:none;">
                          An error occured while processing your request.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  // $('#id_is_gift').click(function() {
  //   giftRecipientSelector = $('#gift-recipient-selector');
  //   if(this.checked) {
  //     giftRecipientSelector.show();
  //   } else {
  //     giftRecipientSelector.hide();
  //   }
  // });
  $("#pending-transaction-form").submit(function(e){
    e.preventDefault();
    var form = this;
    // if($('#id_is_gift').is(':checked')) {
    //   alert('Gift to ' + $('select[name=gift_recipient]').val())
    // }
    var data = {
      'game': {{game.id}},
      'pid': '{{pid}}',
      'csrfmiddlewaretoken': '{{csrf_token}}'
    };
    $.ajax({
      method: "POST",
      url: "{% url 'webshop:purchase-pending' %}",
      data: data,
      statusCode: {
        200: function() {
          alert("Worked!");
        },
        400: function() {
          $('#ajax-error').show();
        }
      }
    });
  });
</script>

{% endblock %}
